@import url("https://fonts.googleapis.com/css2?family=Muli:wght@700&display=swap");

@tailwind base;
@tailwind components;

#canvas_background {
	z-index: -1;
}

.nav {
	z-index: 1000001;
    user-select: none;
}

.nav-left {
	left: 40px
}

.nav-right{
	right: 40px
}
.nav-transform {
	z-index: 1000001;
    transform: rotateZ(-90deg) translateX(-50%);
    transform-origin: 0 50%;
	top: 50%;
}

.nav-transform-right {
	transform: rotateZ(-90deg) translateX(50%);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    top: 50%;
}

/* .nav-about-wrapper,  */
/* .nav-works-wrapper { */
.nav-mail-wrapper {
    display: inline-block;
    padding: 10px;
}
.absolute-center-x-y {
	transform: translate(-50%, -50%);
	top: 50%;
	position: absolute;
	text-rendering: geometricPrecision;
	user-select: none;
	cursor: default;
	left: 50%;
	text-align: center;
}

a {
	@apply text-ws-blue-500 underline;
}

.rocket {
	animation: rocket 0.7s linear infinite both;
}

@keyframes rocket {
	0% {
		transform: translate(0);
		transform: rotate(0);
	}
	10% {
		transform: translate(-1px, -1px);
	}
	20% {
		transform: translate(1px, -1px);
	}
	30% {
		transform: translate(-1px, 1px);
	}
	40% {
		transform: translate(1px, 1px);
	}
	50% {
		transform: translate(-1px, -1px);
	}
	60% {
		transform: translate(1px, -1px);
	}
	70% {
		transform: translate(-1px, 1px);
	}
	80% {
		transform: translate(-2px, -2px);
	}
	90% {
		transform: translate(2px, -2px);
	}
	100% {
		transform: translate(0);
	}
}

@tailwind utilities;
